# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

Core/__pycache__/

# result from flake8
flake8.txt

#tmp windows files
*.db
sprites/*.db

#no need to push the save file each time it is modified
/data/save.txt